export SECRET_KEY_BASE=dtOTAm01ZbCL0Eq8ENvueRPhsNI3mMLSS98PnrtSFz6megqXXEXyjT1goqnIAGwE
export PHX_HOST=irchub.goldsmiths
export DATABASE_URL=postgres://postgres:postgres@127.0.0.1:5432/irchub_prod
export MIX_ENV=prod